h1 {
    text-align: center;
}

form button {
    margin: 0.5em;
    margin-inline: auto;
    display: block;
    border: none;
    background-color: transparent;

}

.pastry_image {
    width: 150px;
    height: 150px;
    object-fit: contain;
    transition: transform 0.1s;

}

.pastry_image:active {
    transform: scale(0.95);
}

.clear_button {
    border: solid;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    font-size: 50px;
}

marquee {}

body {}