body {
    height: auto;
    width: 100%;

    overflow: auto;
}

h1 {
    text-align: center;
}

.background_image {
    z-index: 1;
    position: relative;
    text-align: center;
    margin-bottom: -35%;
}

.background_image img {
    z-index: 1;
}

.plate_image {
    width: 50%;
}

.pastry_div {
    position: relative;
    z-index: 10;
}

.pastry_form {
    z-index: inherit;
}

form button {
    z-index: inherit;
    margin: 0.5em;
    margin-inline: auto;
    display: block;
    border: none;
    background-color: transparent;

}


.pastry_image {
    z-index: inherit;
    width: 150px;
    height: 150px;
    object-fit: contain;
    transition: transform 0.1s;

}

.pastry_image:active {
    transform: scale(0.95);
}

.clear_button_container {
    margin-top: 25%;
}

.clear_button {
    border: solid;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    font-size: 50px;
}

marquee {}